/*------------Body------------------------------------------------*/
body {
    font-family: "Montserrat", system-ui;
    color: #434455;
    background-color: #ffffff;
  }
  ul,
  ol {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    cursor: pointer;
  }
  /*----------/Body------------------------------------------------*/
  /*----------Header---------------------------------------------- */
.logo{font-style: italic;
font-weight: 700;
font-size: 18px;
line-height: 1.11;
letter-spacing: -0.03em;
color: #111111;}
.page-logo{
font-weight: 700;
font-size: 18px;
line-height: 1.11111;
letter-spacing: -0.03em;
color: #111111;
text-transform: uppercase;}
.page-text-header{
font-weight: 500;
font-size: 14px;
line-height: 1.14286;
letter-spacing: -0.02em;
color: #111111;}
.header-home:hover, .header-home:focus, .header-how:hover, 
.header-how:focus, .header-chok:hover, .header-chok:focus {
    color: #fd9222;}
/*-----------/Header--------------------------------------------*/
/*-----------Section1-------------------------------------------*/
.button-section{background-color: #1e1823;;}
.main-text{font-weight: 500;
font-size: 28px;
line-height: 1.21;
letter-spacing: -0.03em;
color: #ffffff;}
.bt-buy-now{
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 14px;
color: #ffffff;
background-color: #fd9222;;}
.bt-how-its-made{
font-weight: 600;
font-size: 14px;
color: #ffffff;}
.bt-scroll-down{
font-weight: 500;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.03em;
color: #ffffff;}

/*-----------/Section1-------------------------------------------*/
/*-----------Section2-------------------------------------------*/
.description-section{background-color: #1e1823;}
.title{font-weight: 600;
font-size: 18px;
color: #ffffff;}
.title-text{font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #ffffffb3;}
/*-----------/Section2-------------------------------------------*/
/*-----------Section3-------------------------------------------*/
.title-page-foto{font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;}
.orange-logo{color: #fd9222;}
.text-page-foto{font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111111;}
/*-----------/Section3-------------------------------------------*/
/*-----------Section4-------------------------------------------*/
.title-how-its-made{font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;}
.discription-text-how-its-made{font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #111111;}
.text-how-its-made{font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111111;}
/*-----------/Section4-------------------------------------------*/
/*-----------Section5-------------------------------------------*/
.title-text-owner{font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;}
.name-main-text-owner{font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111111;}
.text-page-owner{font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);}
.bt-leave{font-weight: 600;
    font-size: 18px;
    color: #111111;}    
/*-----------/Section5-------------------------------------------*/
/*-----------Footer-------------------------------------------*/
.footer-page{background-color: #1e1823;}
.logo-footer{font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.02em;
    color: #ffffff;}
.text-footer{font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;}    
.link-contact{font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #ffffff;}
.nav-title-footer{font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: #fff;}
.footer-home:hover, .footer-home:focus,
.footer-how:hover, .footer-how:focus, 
.footer-chok:hover, .footer-chok:focus {
        color: #fd9222;}
/*-----------/Footer-------------------------------------------*/